# requirements.txt

streamlit
PyMuPDF
pandas
textblob
wordcloud
pyLDAvis
scikit-learn
spacy==3.7.2
nltk
seaborn
matplotlib

# ADD THIS LINE FOR THE SPACY MODEL
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
